body {
  font-family: 'PT Serif', 'Georgia', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Impact, sans-serif;
  text-transform: uppercase;
}

$recipe1: rgb(129, 193, 160);
$recipe2: rgb(216, 180, 177);
$recipe3: rgb(221, 157, 150);
$recipe4: rgb(248, 228, 159);
$recipe5: rgb(214, 213, 212);
$recipe6: rgb(211, 234, 221);
