h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Impact, sans-serif;
  text-transform: uppercase;
}

.recipe {
  padding-top: 2rem;
}

.recipes {
  &_header {
    padding: 2rem 0;
    background: url('../images/bg.png');
    background-size: cover;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &_title {
      max-width: 90%;
    }
  }
}
