.recipes {
  text-align: center;
  
  &_header {
    position: relative;
    min-height: 100vh;
    margin-bottom: 0.5rem;
    background: peachpuff;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/checks.png');
  }
  
  &_title {
    font-size: 4rem;
  }

  &_subtitle {
    font-size: 3rem;
  }

  &_scroll {
    position: absolute;
    bottom: 10px;
  }
  
  .recipe-item {
    &_title {
      min-height: 8rem;

      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        margin: 0;
        text-align: center;
        color: black;
        font-family: 'mmg';
      }
    }
  }
}
