.recipe {
  min-height: 100vh;
  padding: 10%;
  background-image: url('../images/dot-grid.png');

  &_heading {
    padding: 1rem 10%;
    border-bottom: 1px solid #aaa;
  }

  &_title {
    text-align: center;
    font-size: 2rem;
  }

  &_section {
    margin: 0.5rem 0;
    border: solid 2px #888  ;
    box-shadow: none !important;

    ul {
      li {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}