<!DOCTYPE html>
<html>
  <head>
    <title>It's Very Easy!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Sorts+Mill+Goudy" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
